@import "../../../../scss/library/library";

.search{
  margin-bottom: rem(20);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  input{
    flex: auto;
    display: block;
    border-radius: 3px;
    border: 1px solid color(gray_c);
    padding: rem(5) rem(10);
  }
}
.logo{
  flex: none;
  width: rem(50);
  height: rem(50);
}
.text{
  margin-top: rem(20);
  width: 100%;
}